.weblogo{
    width: 65px;
}
.navbar{
    background: #00000082!important;
}
.navnar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff!important;
    font-weight: 600;
    font-size: 20px;
}